<!DOCTYPE html>

{% load static %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'moodslider/indexstyle.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" language="javascript">

    function updateMood(sliderID, val) {;
        if (sliderID=="slider1")
            if (val<50) {
                mood = "Agitated";
            }
            else if (val>50) {
                mood = "Calm";
            }
            else {
                mood = "Neutral";
            }
        else if (sliderID=="slider2")
            if (val<50) {
                mood = "Happy";
            }
            else if (val>50) {
                mood = "Sad";
            }
            else {
                mood = "Neutral";
            }
        else if (sliderID=="slider3")
            if (val<50) {
                mood = "Tired";
            }
            else if (val>50) {
                mood = "Wide Awake";
            }
            else {
                mood = "Neutral";
            }
        else if (sliderID=="slider4")
            if (val<50) {
                mood = "Scared";
            }
            else if (val>50) {
                mood = "Fearless";
            }
            else {
                mood = "Neutral";
            }
        document.getElementById('output').innerHTML = mood;
    }



    </script>



</head>


<body>

    <div class="header">
        <img src="{% static "moodslider/skylogo.png" %}" alt="Sky Logo" style="height:130px; width:auto; float: left; padding-right:10px;">
        <h1> Moodslider App </h1>
        <ul>
          <li><a href="">Moodslider</a></li>
          <li><a href="upload">Upload Content</a></li>
        </ul>
    <div>

    <div>
        <table class="slidecontainer" align="center">
            <tr>
                <td>Agitated</td>
                <td colspan="2"><input type="range" min="1" max="100" value="50" id="slider1" class="slider" onchange="updateMood(this.id, this.value);"></td>
                <td>Calm</td>
            </tr>
            <tr>
                <td>Happy</td>
                <td colspan="2"><input type="range" min="1" max="100" value="50" id="slider2" class="slider" onchange="updateMood(this.id, this.value);"></td>
                <td>Sad</td>
            </tr>
            <tr>
                <td>Tired</td>
                <td colspan="2"><input type="range" min="1" max="100" value="50" id="slider3" class="slider" onchange="updateMood(this.id, this.value);"></td>
                <td>Wide Awake</td>
            </tr>
            <tr>
                <td>Scared</td>
                <td colspan="2"><input type="range" min="1" max="100" value="50" id="slider4" class="slider" onchange="updateMood(this.id, this.value);"></td>
                <td>Fearless</td>
            </tr>
            </table>
        </div>

        <div>
            <table class="programmes" align="center">
                <tr>
                    <td> <div class="card"> <img src="img.png" alt="No Content"> <p> Title </div> </td>
                    <td> <div class="card"> <img src="img.png" alt="No Content"> <p> Title </div> </td>
                    <td> <div class="card"> <img src="img.png" alt="No Content"> <p> Title </div> </td>
                    <td> <div class="card"> <img src="img.png" alt="No Content"> <p> Title </div> </td>
                    <td> <div class="card"> <img src="img.png" alt="No Content"> <p> Title </div> </td>
                </tr>
            </table>

        </div>

    </div>

<h4> Mood </h4> <p id="output"> Current Mood </p>


</body>

</html>
