<!DOCTYPE html>

{% load static %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'moodslider/uploadstyle.css' %}">
    <script type="text/javascript" language="javascript">

    </script>
</head>

<body>

    <div class="header">
        <img src="{% static "moodslider/skylogo.png" %}" alt="Sky Logo" style="height:130px; width:auto; float: left; padding-right:10px;">
        <h1> Moodslider App </h1>
        <ul>
          <li><a href=".">Moodslider</a></li>
          <li><a href="upload">Upload Content</a></li>
        </ul>
    <div>


    <h2> Upload Content </h2>
    <p> Upload your data file about programmes below! </p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit"> Upload File </button>
    </form>

</body>

</html>
